@charset "utf-8";
/* CSS Document */

	
	body{
		padding:0px;
		margin:0px;
		font-size:12px;
		color: #4F4F4F;
		font-family:Verdana,Tahoma,Arial,sans-serif;
	}
	a{
		text-decoration: none;
	}
	img {
		padding:0px;
		margin:0px;
		border:0px;
	}
	
	.left{
		float:left;
	}
	.right{
		float:right;
	}
	.clear{
		clear:both;	
	}
	.space_top {
		height:18px;
		clear:both;
	}
	.divider_v{
		height:10px;
		clear:both;		
	}
	.divider_h{
		float:left;	
		width:10px;
		clear:right;		
	}
	
	
	.content{
		float:left;	
		width:960px;
		clear:both;
	}	
	
	.header{
		width:960px;
		height:180px;
		border-bottom:2px solid #FFE400;
		/* height:500px; */
		clear:both;
	}	
	.header_top{
		width:960px;
		height:180px;		
		clear:both;
	}
	.header_bottom{
		width:960px;
		height:320px;		
		clear:both;
	}	
	
		.h_img_1,
		.h_img_2{
			float:left;
			height:320px;
		}
		.h_img_1{		
			width:50px;	
		}		
		.h_img_2{
			width:55px;
		}
		.mt5{
			margin-top:5px;
			padding-left:5px;
		}		
		
		.logo{
			float:left;
			width:220px;
			/* padding-top:10px; */
			clear:right;
		}
		
		.menu{
			float:left;
			width:740px;
			padding-top:10px;
			clear:right;
		}
		
		.search{
			width:100%;			
			height:133px;
			color:#474747;			
			text-align:right;
			clear:both;	
		}		
		.menu_bar{
			float:right;	
			height:37px;
			position:relative;
			font-family: "Lucida Grande",verdana,Arial,sans-serif;
			background:#8D8D8D url(images/menu_bg.gif) repeat-x;
			clear:both;	
		}
		.menu_lr{
			float: left;
			width:15px;		
			height:37px;
		}	
		.menu_divider{
			float: left;
			height:37px;
			width:10px;
			background: url(images/menu_divider.gif) no-repeat;
		}
		.menu_list{
			float: left;
			padding:0 10px;			
			padding-top:10px;			
		}
		.menu_bar a{
			color:#FFFFFF;
		}	
		.menu_bar a:hover{
			color:#FF8002;
		}
	
	.container{
		float:left;
		width:960px;
		clear:both;
	}
	
	.left_menu{
		float:left;
		width:180px;
		clear:right;		
	}
	
	.left_box{
		width:178px;
		border:1px solid #E6E6E6;
		padding:1px;
		clear:both;
	}
	
		.box_top{
			width:100%;
			height:40px;
			background:#CABFCB url(images/box_bg.gif) repeat-x;
			clear:both;
		}
		.box_top_l{
			float:left;
			width:60%;
			color: #FFFFFF;
			font-size:20px;
			padding-left:10%;
			padding-top:8px;
		}
		.box_top_r{
			float:left;		
			width:30%;
			height:40px;
		}
		
		.box_mid{
			width:100%;
			clear:both;
		}
			.box_mid ul{
				padding:0;
				margin:0;
				list-style-type:none;
			}
			.box_mid ul li{
				padding:0;
				margin:0;
				height:22px;
				padding-left:20px;
				font-weight:normal;
				font-size:13px;
				color: #77387C;
			}
			.box_mid a{
				color: #77387C;
			}
			.box_mid a:hover{
				color: #FF8002;
			}
			
	.mid_body{
		float: left;
		width:578px;
		padding-bottom:5px;		
		border:1px solid #E6E6E6;
		clear:right;
	}
	
		.heading h1{
			font-weight:normal;	
			font-family: "Lucida Grande", Georgia, "Times New Roman", sans-serif;	
			clear:both;		
		}	
		.heading h1{
			width:538px;
			color:#2EABD9;
			font-size:20px;
			margin:10px 20px;
			border-bottom:1px solid #2EABD9;
		}
		
		.list,
		.mid_content{
			width:548px;
			margin-left:20px;
			margin-right:10px;			
			clear:both;
		}
		.list{
			margin-bottom:5px;					
			border-bottom:1px solid #E6E6E6;			
		}
		
	.right_menu{
		float: left;
		width:176px;
		border:1px solid #E6E6E6;
		padding:1px;		
		clear:right;
	}
	
		.my_options{
			width:90%;
			height:30px;
			color: #FFFFFF;
			font-size:16px;	
			font-weight:bold;
			padding-left:10%;			
			line-height:150%;	
			background:#CABFCB url(images/box_bg.gif) repeat-x;
			clear:both;
		}		
		.options{
			width:100%;
			clear:both;
		}
			.options ul{
				padding:0;
				margin:0;
				list-style-type:none;
			}
			.options ul li{
				padding:0;
				margin:0;
				height:22px;
				padding-left:20px;
				font-weight:normal;
				font-size:13px;
				color: #77387C;
			}
			.options a{
				color: #77387C;
			}
			.options a:hover{
				color: #FF8002;
			}	
	
	.footer{
		float:left;
		width:100%;
		margin-top:15px;
		padding:15px 0 25px 0;
		color:#5B2F5F;
		font-size:13px;
		text-align:center;
		line-height:150%;
		background-color:#E0D6E1;		
		clear:both;
	}
		.footer ul{
			display:inline;
		}
		.footer ul li{
			font-size:13px;
			font-family:Georgia,Verdana,Arial,sans-serif;
			color:#FFFFFF;
			display:inline; 
		}
		.footer ul li a{
			color: #5B2F5F;
			text-decoration:none;
		}
		.footer ul li a:hover{
			color: #FF8002;
		}
		
	/* FORM */
	.input_file,
	.input_box2,
	.input_boxl,
	.input_box{
		padding:2px;
		color:#0C0C0C;
		border:1px solid #E3C2E4;
	}	
	.input_box{
		width:180px;
	}
	.input_boxl{
		width:395px;
	}	
	.input_box2{
		width:70px;
	}
	
	.input_title,
	.input{
		float:left;
		clear:right;		
	}
	.input_title {
		width:33%;
		padding-top:5px;
		text-align:right;
	}
	.search span,	
	.input_title span{
		color: #9E0000;
		font-size:11px;		
	}
	.orange{color: #FF7200;}
	.input{
		width:62%;
		padding-top:5px;
		padding-left:5px;
	}	
	.search input,
	.search select,
	.input input,
	.input select,
	.input textarea{
		color:#535353;
	}
	.input textarea{
		border:1px solid #E3C2E4;
		padding:1px 2px;
	}
	.input span{
		font-size:11px;
		color:#535353;		
	}
	.input span a{
		color:#C0E4FC;
	}	
	.input span a:hover{
		color:#4D6185;
	}
	.txt_level{
		float:left;
		width:642px;
		font-size:13px;		
		padding-bottom:5px;
		padding-left:15px;
		clear:both;	
	}
	.txt_level input{
		color:#535353;
	}
	
	.tal{
		text-align: left;
	}	
	.tac{
		text-align: center;
	}
	.tac_clear{
		text-align:center;
		clear:both;
	}
	.forgot_pass{
		width:90%;
		margin:0 auto 10px auto;
		line-height:150%;		
		text-align:center;
		clear:both;	
	}	

	.bttn{
		font-family:Georgia, "Times New Roman", Tahoma, sans-serif;
		cursor:pointer;
	}
	
	.err{
		font-size: 12px;
		font-weight:normal;
		font-family: verdana,tahoma,sans-serif;
		color: #CD0B0B;
		text-align: center;
	}
	.msg {
		font-size: 12px;
		font-family: verdana,tahoma,sans-serif;
		font-weight: bold;
		color: green;
		text-align: center;		
	}
	/* end FORM */	
	
	/* Pagination */
	.page-nav{
		width:100%;
		padding-top:10px;
		font-size:13px;
		text-align:center;
		color:#333333;
		clear:both;		
	}	
	.page-first{
		padding-left:3px;
	}
	.page-prev{
		padding-left:3px;
	}
	.page-number{
		font-size:11px;
		font-family:tahoma,verdana,sans-serif;
		padding:0 3px;
		text-align:center;
	}
	.page-next{
		padding-left:3px;
	}
	.page-last{
	}
	.page-first a,
	.page-last a,
	.page-prev a,
	.page-next a,
	.page-number  a{
		color:#F63C3C;
		text-decoration: none;
	}
	.page-first a:hover,
	.page-last a:hover,
	.page-prev a:hover,
	.page-next a:hover,
	.page-number a:hover{
		color:#ff7200;
	}
	/* end Pagination */	
	
	a{
		color:#655734;
		text-decoration:none;
	}
	a:hover{
		color:#364B22;
	}
	
	/* jQuery */
	form.form label.error,
	label.error {
		color: #9E0000;
		font-size: 11px;
	}
	.message_box {
		position: absolute;
		top: 0;
		z-index: 10;
		background:#FFFFAC;
		margin:0 auto;
		padding:10px;
		border-bottom:1px solid #CCCCCC;
		text-align:center;
		width:940px;
	}
	form.form label.error{ 
		display: none;
	}
	/* end jQuery */
	
	


	.signup1column
	{
	float:left;
	width:600px;
	margin-left:30px;
	}
	.signup1column p
	{
	margin:0px;
	font-size:12px;
	line-height:20px;
	padding:0px;
	}
	.signupinnerform
	{
		width:650px;
	}
	.signupinnerformcol
	{
	float:left;
	width:315px;
	padding-right:10px;
	}
	.signupinnerform1
	{
		width:650px;
		margin-top:20px;
	}
	.signupinnerform1 p
	{
	line-height:28px;
	vertical-align:middle;
	margin:0px;
	padding:0px;
	height:28px;
	}
	
	.signupinnerformcol1
	{
	float:left;
	width:80px;
	}
	.signupinnerformcol2
	{
	float:left;
	width:550px;
	padding-right:10px;
	}
	.chk1
	{
	width:120px;
	}
	.innertext
	{
	font-size:9px;
	}